@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
html{height:100%;}
body{width:80%; height:100%; font-family: 'Source Sans Pro', sans-serif;; font-size: 1.3em; margin:0px; background-color: #fff; color: black; margin:auto;}
.wrapper{min-height: 100%; height: auto!important; height:100%; margin: 0 auto -6em;}

.header{width: auto; background-color: #eee; padding:20px;}
.header a{text-decoration: none; color: black; padding:20px; margin:0px;}
.header a:hover{color: white; background-color: black;}


.content{padding:30px;}


.footer{text-align: center; position: fixed; bottom: 0px; width: 100%; left: 0px; height:2em;}
.footer a{color: grey;}